<div class="card">
    <div class="card-header">
        Rigister List:
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Year</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registration of registrations">
                    <td>{{registration.name}}</td>
                    <td>{{registration.surname}}</td>
                    <td>{{registration.year}}</td>
                    <td>{{registration.gender}}</td>
                    <td>{{registration.email}}</td>
                    <td>{{registration.phone}}</td>
                    <td>{{registration.grade}}</td>
                    <td> <button class="btb btn-danger" (click)="deleteReg(registration.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
