<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="card">
            <div class="card-header">Change Password</div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="mb-3">
                        <label for="" class="form-label">New Password:</label>
                        <input type="password" ngModel name="password" minlength="6" required class="form-control">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success" [disabled]="!f.valid" >Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
