input.ng-invalid.ng-touched{
    border: 1px solid red;
}

input::placeholder{
    font-style: italic;
}

.help-block{
    position: absolute;
    top: 30px;
    right: 3px;
    padding: 2px;
    font-style: italic;
    font-size: small;
    
}

.help{
    position: relative;
}

.card-body{
    background-color: rgb(249, 239, 225);
}
.card-header{
    background-color: rgb(56, 54, 53);
    color: white;
}